APIKEY="APIKEY",
AUTHDOMAIN="AUTHDOMAIN",
DATABASEURL="DATABASEURL",
PROJECTID="PROJECTID",
STORAGEBUCKET="STORAGEBUCKET",
MESSAGINGSENDERID="MESSAGINGSENDERID",
APPID="APPID",
MEASUREMENTID="MEASUREMENTID"