:root {
  --box-border-color: rgba(255, 255, 255, 0.38);
  min-width: 100%;
  padding-left: 5%;
}

body {
  background: rgb(0, 0, 0);
  justify-content: center;
  display: flex;
}

span {
  display: inline-block;
  text-align: center;
  font-weight: 500;
}

div {
  text-align: center;
}

.container {
  justify-content: center;
  display: grid;
  padding: 10px 10px 20px 10px;
  border-radius: calc(0.5 * 100px);
  box-shadow: 0 1px 6px 0 var(--box-border-color);
  max-width: fit-content;
}

.subtitle, .title, 
.cube, .cone, 
.teleopCheckbox, .autoCheckbox, .dissapointmentCheckbox {
  color: rgb(219, 186, 0);
  padding-top: 10px;
}

.title {
  stroke:white;
}

.section-title {
  border-radius: calc(0.5 * 100px);
  box-shadow: 0 1px 6px 0 var(--box-border-color);
  padding-bottom: 10px;
  color: rgba(0, 255, 0, 0.555);
}

.widget {
  padding: 10px;
}

.btn {
  text-align: center;
  display: inline-block;
  color: black;
  background-color: gray;
  border-radius: 15px;
  border-radius: 30px;
  border-color: black;
}

.team-number-container{
  padding: 10px;
  color: rgb(255, 255, 255);
  border-radius: calc(0.5 * 100px);
  box-shadow: 0 1px 6px 0 var(--box-border-color);
}

.submit {
  padding: 20px;
  background-color: #ccc;
  border-radius: calc(100px);
  box-shadow: 0 1px 6px 0 var(--box-border-color);
  font-size: 20px;
  margin: 2%;
}

.label {
  font-size: 15px;
  color: white;
  width: fit-content;
  padding-left: 2%;
  
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.text-box {
  border-radius: calc(100px);
  box-shadow: 0 1px 6px 0 var(--box-border-color);
}

.team-numbers {
  color: white;
}