

:root {
  --box-border-color: rgba(255, 255, 255, 0.38);
  min-width: 110%;
}


body {
  background: rgb(47, 49, 45);
  justify-content: center;
  display: flex;
}


span {
  display: inline-block;
  text-align: center;
}


div {
  text-align: center;
}


.container {
  justify-content: center;
  display: grid;
  padding: 10px 10px 20px 10px;
  border-radius: calc(0.5 * 100px);
  box-shadow: 0 1px 6px 0 var(--box-border-color);
  max-width: fit-content;
}


.subtitle, .title, 
.cube, .cone, 
.teleopCheckbox, .autoCheckbox {
  color: rgba(255, 217, 0, 0.671);
  padding-top: 10px;
}


.section-title {
  border-radius: calc(0.5 * 100px);
  box-shadow: 0 1px 6px 0 var(--box-border-color);
  padding-bottom: 10px;
  color: rgba(0, 255, 0, 0.555);
}


.text-box {
  border-radius: calc(0.5 * 100px);
  box-shadow: 0 1px 6px 0 var(--box-border-color);
  height: 30px;
  width: 100px;
  font-size: 25px;
}


.text-box-long {
  border-radius: calc(0.5 * 100px);
  box-shadow: 0 1px 6px 0 var(--box-border-color);
  height: 75px;
  width: 350px;
  font-size: 25px;
}


.widget {
  padding: 10px;
}


.identification-container, .auto-container, .teleop-container, .post-match-container {
  padding: 10px 10px 20px 10px;
  border-radius: calc(0.5 * 100px);
  box-shadow: 0 1px 6px 0 var(--box-border-color);
}


.btn-container {
  display: flex;
  justify-content: center;
}


.btn {
  height: 70px;
  width: 55px;
  font-size: 50px;
  text-align: center;
  display: inline-block;
  color: black;
  background-color: gray;
  border-radius: 15px;
  border-radius: 30px;
  border-color: black;
  padding-top: 0%;
  padding: 0%;
  padding-left: 0%;
  padding-right: 0%;
  padding-bottom: 0%;
}

.value {
  padding: 10px;
  color: rgb(255, 255, 255);
}


.cone {
  height: 100px;
  width: auto;
  padding-right: 30px;
}


.cube {
  height: 100px;
  width: auto;
  padding-left: 30px;
}


.checkbox {
  height: 35px;
  width: 35px;
  background-color: #ccc;
  border-radius: calc(100px);
  float: center;
}
.style1 {
  height: 1000;
}


.export, .clear-localstorage {
  background-color: #ccc;
  border-radius: calc(100px);
  box-shadow: 0 1px 6px 0 var(--box-border-color);
  margin: 2%;
  padding-top: 2%;
}

.submit {
  padding: 10px;
  background-color: #ccc;
  border-radius: calc(100px);
  box-shadow: 0 1px 6px 0 var(--box-border-color);
  font-size: 40px;
  margin: 2%;
  padding-top: 2%;
  width: 200px;
}

.double-line {
  max-width: 250px;
}
.slider {
  width:100%;
  height: 25px;
  background: rgb(47, 49, 45);
  padding: 0;
}

.slider-valueslide {
  position: absolute;
  padding: 0;
  padding-left: 6.75%;
  color: rgb(207, 203, 203);
}


.cubes {
  color: rgb(128, 108, 218);
}
.cones {
  color: rgb(173, 171, 27);
}
.fumbles {
  color: rgb(253, 0, 76)
}
.label {
  font-size: 15px;
  color: white;
  width: fit-content;
  padding-left: 2%;
  
}
.temporary, .critical, .defend {
  color: rgb(255, 215, 0);
}
.dbtn {
  padding-bottom: 20px;
}
.checkboxes {
  padding-top: 20px;
}
.label2 {
  background-color:rgb(47, 49, 45);
  box-shadow: 0 1px 6px 0 var(--box-border-color);
  border-radius: 15px;
  color: white;
  
}
.text-box-long {
  font-size: 16px;
  min-width: 300px;
  min-height: 70px;
  max-width: 380px;
  max-height: 200px;
}

.scouting-guidelines {
  color: blue;
}